<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header d-flex flex-row justify-content-between">
                  <span class="d-flex card-title mt-1">Categories</span>
                  <div class="d-flex">
                    <button type="button" class="btn btn-xs btn-green" (click)="openModal()">
                      <small class="text-white button-text">Create</small>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Code</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Parent ID</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let category of categories">  
                        <td scope="row">{{category.id}}</td>
                        <td>{{category.code}}</td>
                        <td>{{category.title}}</td>
                        <td>{{category.description}}</td>
                        <td>{{category.idParentCategory}}</td>
                        <td>{{category.createDate | date:'longDate'}}</td>
                        <td>Actions</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>
</div>
