<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">Categories</div>
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Code</th>
                        <th scope="col">Tittle</th>
                        <th scope="col">Description</th>
                        <th scope="col">Parent</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>  
                        <td scope="row">ID</td>
                        <td>Code</td>
                        <td>Tittle</td>
                        <td>Description</td>
                        <td>Parent</td>
                        <td>Created At</td>
                        <td>Actions</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>
</div>